#exampleModalLive {
  padding-right: 17px;
  display: block;
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
